.contains{
    padding-left: 100px;
    padding-right: 100px;
    list-style: none;
}
.contains_name{
    font-size: 25px;
}
.contains_score{
    font-size: 20px;
}
.contains.appareance{
    background-color: rgb(43, 143, 143);
    list-style: none;
}
.contains_card{
    width: 500px;
    border: solid;
    background-color: rgb(117, 198, 198);
}
.contains_information{
    display: flex;
    flex-direction: unset;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
}

.contains_picture{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}