.contains{
    padding-left: 100px;
    padding-right: 100px;
    
    list-style: none;
}
.contains_name{
    font-size: 25px;
}
.contains_score{
    font-size: 20px;
}
.contains.appareance{
    background-color: rgb(43, 143, 143);
    list-style: none;
}
.contains_card{
    border: solid;
    background-color: aqua;
}
.contains_information{
    display: flex;
    flex-direction: unset;
    justify-content: space-evenly;
    align-items: center;
}
.contains_picture{
    display: flex;
    align-items: center;
}