.header{
    background-color: #7287dbad;
    position: fixed;
    width: 100%;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 0px;
    list-style: none; 
}
li{
    padding: 10px;
}